.Device {
  background-color: white;
  padding: 1rem;
  margin-bottom: 1rem;
  border-radius: 10px;
  border: 1px solid #e0e5ec;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
  &_Header{
    display: flex;
    justify-content: space-between;
    &_Content {

      &_NameId {
        display: flex;
        align-items: center;
        margin-bottom: 1rem;
        & span {
          margin: 0 .5rem;
        }
        &_Id{
          font-size: 1.25rem;
        }
        &_Name {
          font-size: 1.25rem;
        }
      }
      &_Desc {
        margin-bottom: 1rem;
        font-size: 1rem;
        display: -webkit-box;
        color: #4a515b;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }
    &_Status {
      display: flex;
      &_Dot {
        width: .85rem;
        margin-right: .5rem;
        height: .85rem;
        border-radius: 50%;
        &.Connect {
          background-color: #00ac69;
        }
        &.Disconnect {
          background-color: #e81500;
        }
      }
      &_Text {
        font-size: 1rem;
      }
    }
  }
  &_Footer {
    display: flex;
    justify-content: space-between;
    &_Control {

      &_Btn {
        font-size: 1rem;
        padding: .5rem 1rem;
        border-radius: 5px;
        color: #000;
        border: none;
        cursor: pointer;
        box-shadow: rgba(60, 64, 67, .3) 0 1px 3px 0, rgba(60, 64, 67, .15) 0 4px 8px 3px;
        &:hover {
          opacity: .75;
        }
      }
    }
    &_Function {
      display: flex;
      &_Btn {
        font-size: 1rem;
        padding: .5rem 1rem;
        border-radius: 5px;
        color: black;
        border: none;
        cursor: pointer;
        margin-left: 1rem;
        box-shadow: rgba(60, 64, 67, .3) 0 1px 3px 0, rgba(60, 64, 67, .15) 0 4px 8px 3px;
        &.Danger {
          color: red;
        }
        &.Primary {
          color: #0061f2;
        }
        &:hover {
          opacity: .75;
        }
      }
    }
  }
}