.Auth {
  width: 100vw;
  display: flex;
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  justify-content: center;
  background: rgb(235,235,235);
  background: radial-gradient(circle, rgba(235,235,235,1) 0%, rgba(112,112,159,1) 35%, rgba(1,15,18,1) 100%);
  &_Container {
    display: flex;
    margin: 50px 0;
    flex-direction: row;
    border-radius: 5px;
    overflow: hidden;
    border: 1px solid;
    background-color: white;
    &_Slogan {
      padding: 1rem 1.5rem;
      width: 400px;
      text-align: center;
      &_Logo {
        & img {
          width: 50px;
        }
      }
      &_Image {
        height: 100%;
        width: 100%;
        background-image: url("../../assets/images/header_bg.png");
        background-size: contain;
        background-repeat: no-repeat;
      }
      &_Body {
        & h3 {
          margin: 5px 0;
          text-transform: uppercase;
        }
        & h4 {
          margin: 5px 0;
          font-weight: 500;
        }
      }
    }
    &_Form {
      padding: 1rem 1.5rem;
      border-radius: 5px;
      width: 500px;
      &_Header {
        text-align: center;
        margin-bottom: 1rem;
        & h1 {
          color: black;
        }
      }

      &_Body {
        width: 100%;
        &_Item {
          margin-bottom: 1rem;
          width: 100%;
          &_Content {
            display: flex;
            align-items: center;
            width: 100%;
            padding: .5rem;
            border-radius: 5px;
            border: 2px solid black;
            &.Error{
              border: 2px solid red;
            }
            &_Icon {
              padding: 0 1rem 0 .5rem;
            }
            &_IconEye {
              padding: 0 .5rem;
              cursor: pointer;
            }

            &_Input {
              display: flex;
              align-items: center;
              width: 100%;
              & input {
                color: black;
                width: 100%;
                background-color: transparent;
                border: none;
                font-size: 1rem;
                &:focus {
                  outline: none;
                }
                &::placeholder {
                  color: rgba(99, 99, 99, 0.7);
                }
              }
            }
          }
          &_Save {
            display: flex;
            color: black;
            & input {
              margin: 0 1rem 0 1.25rem;
              &[type='checkbox'] {
                width: 1.25rem;
                height: 1.25rem;
              }
            }
          }
          &_OTP {
            color: #0061f2;
            font-weight: 500;
            font-size: 1rem;
            cursor: pointer;
            &:hover{
              text-decoration: underline;
            }
          }
          &_Validate{
            width: 100%;
            font-size: 14px;
            color: red;
            padding: 2px;
          }
        }
      }

      &_Footer {
        width: 100%;
        & button {
          width: 100%;
          border: none;
          background-color: #0061f2;
          color:white;
          border-radius: 5px;
          font-size: 1rem;
          padding: .75rem;
          margin-bottom: 1rem;
          cursor: pointer;
          &:hover {
            background-color: rgb(0, 69, 170);
          }
        }
        &_Choice {
          width: 100%;
          display: flex;
          justify-content: space-between;
          & div,
          & a {
            font-size: 1rem;
            color: black;
            cursor: pointer;
          }
        }
      }
    }
  }
}