.Timer {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 111;
  background-color: rgba(209, 209, 209, 0.5);
  &_Container {
    border-radius: 10px;
    overflow: hidden;
    width: 500px;
    background-color: white;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    &_Header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      color: #363d47;
      padding: .5rem 1rem;
      background-color: rgba(33, 40, 50, 0.08);
      &_Title {

      }
      &_Btn {
        & svg {
          font-size: 1.75rem;
          cursor: pointer;
          color: black;
          &:hover {
            color: red;
          }
        }
      }
    }
    &_Body {
      padding: 1rem;

      &_Item {
        margin-bottom: 1rem;
        &_Title {
          margin-bottom: 1rem;
          & input {
            margin-right: .5rem;
          }
          & label {
            text-transform: capitalize;
            font-size: 1.25rem;
          }
        }
        &_Time {
          display: grid;
          gap: 1rem;
          grid-template-columns: repeat(3, 1fr);
          &_Item {

            & input {
              padding: .5rem .25rem;
              font-size: 1rem;
              width: 100%;
            }
            & label {
              padding-bottom: .25rem;
            }
          }
        }
      }
    }
  }
}