.Control {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 1rem;
  padding: 1rem;
  &_Container {
    width: 40%;
    background-color: #eee;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    & h2 {
      padding: 1rem 0;
      text-align: center;
    }
    &_Light {
      display: flex;
      padding: 3rem 0;
      justify-content: center;
    }
    &_Dashboard1 {
      display: grid;
      margin: 1rem;
      grid-template-columns: repeat(3, 1fr);
      overflow: hidden;
      border-radius: 10px;
      box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
      &_Btn {
        cursor: pointer;
        padding: 2.5rem 0;
        background-color: #fff;
        text-align: center;
      }
    }
    &_Dashboard2 {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 1rem;
      padding: 0 1rem;
      margin-bottom: 1rem;
      &_Btn {
        cursor: pointer;
        padding: 2.5rem 0;
        background-color: #fff;
        text-align: center;
        border-radius: 10px;
        border: 1px solid #fff;
        box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
        &:hover {
          background-color: rgba(224, 229, 236, 0.5);
        }
      }
      &_Btn.Checked {
        box-shadow: rgba(203, 203, 203, .5) -10px -10px 15px inset,
                    rgba(70, 70, 70, 0.12) 10px 10px 15px inset !important;
      }
    }
    &_Dashboard3 {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 1rem;
      padding: 0 1rem;
      margin-bottom: 1rem;
      &_Btn {
        position: relative;
        cursor: pointer;
        padding: 2.5rem 0;
        background-color: #fff;
        text-align: center;
        border-radius: 10px;
        box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
        & input[type="color"] {
          position: absolute;
          top: 0;
          right: 0;
          bottom: 0;
          left: 0;
          width: 100%;
          height: 100%;
          opacity: 0;
        }
        &:hover {
          background-color: rgba(224, 229, 236, 0.5);
        }
      }
    }
  }
}