.Home {
  padding: 1rem;
  height: 100%;
  overflow-y: scroll;
  &::-webkit-scrollbar {
    display: none;
  }
  &_Container {
    &_Header {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 1rem;
      &_Title {
        font-size: 2rem;
        color: #363d47;
      }
      &_Tool {
        display: flex;
        align-items: center;
        &_Search {
          margin-right: 1rem;
          padding: .5rem;
          background-color: #eef2f8;
          display: flex;
          align-items: center;
          border-radius: 10px;
          border: 5px solid transparent;
          box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
          & input {
            font-size: 1rem;
            border: none;
            background-color: transparent;
            &:focus {
              outline: none;
              &::placeholder {
                  color: transparent;
              }
            }
          }
          &:focus-within {
            border: 5px solid rgba(0, 191, 255, 0.5);
          }
          & svg {
            cursor: pointer;
            color: gray;
            font-size: 1.5rem;
          }
        }
        &_Add {
          position: relative;
          &_Btn {
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: gray;
            width: 2.5rem;
            height: 2.5rem;
            cursor: pointer;
            border-radius: 50%;
            & svg {
              color: white;
              font-size: 1.5rem;
            }
            &:hover {
              background-color: black;
            }
          }
          &_Popup {
            position: fixed;
            display: flex;
            justify-content: center;
            align-items: center;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            padding: 1rem;
            background-color: rgba(135, 135, 135, 0.5);
            border-radius: 5px;
            box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
          }
        }
      }
    }
    &_Body {
      display: flex;
      justify-content: center;
      height: 100%;
      width: 100%;
      &_Content {
        width: 60%;
      }
    }
  }
}