.Settings {
  gap: 1rem;
margin: auto;
  height: 90%;
  padding: 1rem;
  &_Heading {
    text-align: center;
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 1rem;
  }
  &_Avt {
    margin: 1rem auto;
    width: 200px;
    background-color: white;
    border-radius: 5px;
    text-align: center;
    padding: 1rem;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    &_Image {
      position: relative;
      margin-bottom: 1rem;
      & img {
        width: 80%;
        border-radius: 50%;
      }
      &_Btn {
        background-color: white;
        border-radius: 50%;
        display: flex;
        width: 2rem;
        height: 2rem;
        bottom: 5px;
        right: 20px;
        box-shadow: 1px 1px 1px gray;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        position: absolute;
        & svg {
          font-size: 1.5rem;
        }
        &:hover {
          background-color: #e0e5ec;
        }
      }
    }
    &_Name {
      font-size: 1rem;
    }
  }
  &_Detail {
    padding: 1rem;
    display: flex;
    justify-content: center;
    &_List {
      display: grid;
      grid-template-columns: repeat(5, 1fr);
      flex-wrap: wrap;
      gap: 1rem;
      &_Item {
        cursor: pointer;
        text-align: center;
        padding: 1rem;
        border-radius: 10px;
        background-color: white;
        box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
        &_Text {
          padding: .5rem 0;

        }
        &_Icon {
          padding: .5rem 0;
          & svg {
            color: #0061f2;
            font-size: 3rem;
          }
        }
        &:hover {
          background-color: rgba(224, 229, 236, 0.5);
        }
      }
    }
  }
}