.Header {
  position: fixed;
  z-index: 111;
  width: 100%;
  display: flex;
  align-items: center;
  background-color: white;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
  padding: 5px 10px;
  &_Logo {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    &_Img {
      width: 3.125rem;
      height:  3.125rem;
      margin-right: .5rem;
    }
    &_Brand {
      text-transform: uppercase;
      font-size: 1.5rem;
      font-weight: 700;
      letter-spacing: 1px;
      color:blue;
    }
  }
  &_Center {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    &_List {
      width: 100%;
      display: flex;
      justify-content: center;
      &_Item {
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        width: 110px;
        height: 3.125rem;
        &.Active {
          border-bottom: 4px solid #0061f2;
          & svg {
            color: #65676b;
          }
        }
        &_Btn {
          border-radius: 10px;
          height: 100%;
          width: 100%;
          cursor: pointer;
          display: flex;
          justify-content: center;
          align-items: center;
          & svg {
            font-size: 1.5rem;
            color:rgba(0, 0, 0, 0.55);
          }
          &:hover {
            background-color: #e0e5ec;
          }
        }

        &_Img {
          width: 3.125rem;
          height:  3.125rem;
          border-radius: 50%;
        }
        &_Profile {
          z-index: 11;
          position: absolute;
          top: 65px;
          right: 0;
          width: 240px;
          background-color: white;
          box-shadow: 0 0.15rem 1.75rem 0 rgba(33, 40, 50, 0.15);
          border-radius: 2px;
          &_Header {
            padding: .5rem 1rem;
            display: flex;
            align-items: center;
            border-bottom: 1px solid #e0e5ec;
            &_Img {
              margin-right: 1rem;
              & img {
                width: 3.125rem;
                height: 3.125rem;
                border-radius: 50%;
              }
            }
            &_Content {

              &_Name {
                font-size: .85rem;
                margin-bottom: .25rem;
              }
              &_Role {
                font-size: .75rem;
                margin-bottom: .25rem;
              }
            }
          }
          &_Footer {

            &_Item {
              cursor: pointer;
              display: flex;
              align-items: center;
              padding: .5rem 1rem;
              &_Icon {
                margin-right: .5rem;
                & svg {
                  font-size: 1rem;
                }
              }
              &_Text {
                font-size: .75rem;
              }
              &:hover {
                background-color: #e0e5ec;
              }
            }
          }
        }
      }
    }
  }
  &_Right {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    &_List {
      width: 100%;
      display: flex;
      justify-content: flex-end;
      &_Item {
        margin-left: 1rem;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        background-color: #e4e6eb;
        &_Btn {
          cursor: pointer;
          width: 3.125rem;
          height: 3.125rem;
          display: flex;
          justify-content: center;
          align-items: center;
          & svg {
            font-size: 1.5rem;
            color:rgba(0, 0, 0, 0.85);
          }
          &_Img {
            width: 3.125rem;
            height:  3.125rem;
            border-radius: 50%;
            box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px inset,
            rgba(60, 64, 67, 0.15) 0px 1px 3px 1px inset;
          }
        }
        &:hover {
          background-color: #dcdee3;
        }
        &_Profile {
          z-index: 11;
          position: absolute;
          top: 65px;
          right: 0;
          width: 240px;
          background-color: white;
          box-shadow: 0 0.15rem 1.75rem 0 rgba(33, 40, 50, 0.15);
          border-radius: 2px;
          &_Header {
            padding: .5rem 1rem;
            display: flex;
            align-items: center;
            border-bottom: 1px solid #e0e5ec;
            &_Img {
              margin-right: 1rem;
              & img {
                width: 3.125rem;
                height: 3.125rem;
                border-radius: 50%;
              }
            }
            &_Content {

              &_Name {
                font-size: .85rem;
                margin-bottom: .25rem;
              }
              &_Role {
                font-size: .75rem;
                margin-bottom: .25rem;
              }
            }
          }
          &_Footer {

            &_Item {
              cursor: pointer;
              display: flex;
              align-items: center;
              padding: .5rem 1rem;
              &_Icon {
                margin-right: .5rem;
                & svg {
                  font-size: 1rem;
                }
              }
              &_Text {
                font-size: .75rem;
              }
              &:hover {
                background-color: #e0e5ec;
              }
            }
          }
        }
      }
    }
  }
}