.AddDevice {
  position: absolute;
  width: 600px;
  z-index: 111;
  background-color: white;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
  &_Title {
    color: #363d47;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: .5rem 1rem;
    background-color: rgba(33, 40, 50, 0.08);
    & svg {
      font-size: 1.75rem;
      cursor: pointer;
      color: black;
      &:hover {
        color: red;
      }
    }
  }
  &_Body {
    background-color: white;
    padding: 1rem;
    &_Item {
      margin-bottom: 1rem;
      &_Title {
        text-transform: capitalize;
        margin-bottom: .5rem;
        font-size: 1rem;
      }
      &_Input {
        width: 100%;
        background-color: #eef2f8;
        & input {
          width: 100%;
          border: none;
          background-color: transparent;
          font-size: 1rem;
          padding: 1rem;
          &:focus {
            outline: none;
          }
        }
      }
    }
    &_Btn {
      text-align: right;
      & button {
        font-size: 1rem;
        padding: .5rem 1rem;
        border-radius: 5px;
        color: white;
        background-color: #0061f2;
        border: none;
        cursor: pointer;
        text-transform: capitalize;
        &:hover {
          background-color: rgb(0, 69, 170);
        }
      }
    }
  }
}