$primary: #0061f2;
$success: #00ac69;
$info: #00cfd5;
$secondary: #6900c7;
$warning: #f4a100;
$danger: #e81500;
@import "~fontsource-metropolis/index.css";
@import "~@fontsource/roboto";
html {
  overflow-x: hidden;
}
body {
  margin: 0;
  font-family: 'Roboto','Metropolis', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  letter-spacing: .08rem;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Metropolis', 'Roboto', sans-serif;
}

a {
  text-decoration: none;
  color: black;
}

li {
  list-style: none;
}

.Layout {
  position: fixed;
  height: 100vh;
  width: 100%;
  background-color: #f0f2f5;
  &_Container {
    position: relative;
    height: 100%;
    width: 100%;
    padding-top: 60px;
    overflow-y: scroll;
    &::-webkit-scrollbar {
      display: none;
    }
  }
}