.Admin {
  padding: 1rem;
  height: 100%;
  &_Container {
    height: 90%;
    padding: 1rem;
    background-color: white;
    &_Header {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 1rem;
      &_Title {
        font-size: 2rem;
        color: #363d47;
      }
      &_Tool {
        display: flex;
        align-items: center;
        &_Search {
          margin-right: 1rem;
          padding: .5rem;
          background-color: #eef2f8;
          display: flex;
          align-items: center;
          border-radius: 10px;
          border: 5px solid transparent;
          & input {
            font-size: 1rem;
            border: none;
            background-color: transparent;
            &:focus {
              outline: none;
              &::placeholder {
                color: transparent;
              }
            }
          }
          &:focus-within {
            border: 5px solid rgba(0, 191, 255, 0.5);
          }
          & svg {
            cursor: pointer;
            color: gray;
            font-size: 1.5rem;
          }
        }
        &_Add {
          position: relative;
          &_Btn {
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: gray;
            width: 2.5rem;
            height: 2.5rem;
            cursor: pointer;
            border-radius: 50%;
            & svg {
              color: white;
              font-size: 1.5rem;
            }
            &:hover {
              background-color: black;
            }
          }
          &_Popup {
            position: fixed;
            display: flex;
            justify-content: center;
            align-items: center;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            z-index: 11111;
            padding: 1rem;
            background-color: rgba(135, 135, 135, 0.5);
            border-radius: 5px;
            box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
          }
        }
      }
    }
    &_Body {
      padding: 1rem;
    }
  }
}

.rdt_Table {
  height: 100%;
  border: 1px solid rgba(0, 0, 0, .12);
  &Head {

    &Row {

    }
  }
  // 1 cột của table Row thuộc Head
  &Col {
    font-weight: bold;
    font-size: 14px;
    padding: 12px;
    color: gray;
    border-right: 1px solid rgba(0, 0, 0, .12);

    &:last-child {
      border-right: none;
    }
  }

  &Body {

    &Row {

    }
  }

  // 1 cột của table Row thuộc Body
  &Cell {
    color: gray;
    padding: 12px;
    font-size: 14px;
    border-right: 1px solid rgba(0, 0, 0, .12);

    &:last-child {
      border-right: none;
    }
  }
}